# Debugging stuff
backup/
*.BAK
*.BK1
LOG.TXT

# Microsoft FON/FNT files
DEMOS/MSFNT/FONTS/
TESTS/FON/*.FNT
TESTS/FON/*.FON

# Compiled files
*.EXE
*.TPU
boilerplate/UNITS/

# Turbo Pascal
TP/

# Free Pascal Compiler
*.a
*.o
*.ppu

# Lazarus
lib/
*.lps
